/bin
/lib
/ivy-*.xml
/common-*.jar
/TEST-*.txt
/junit
/JUnit.html
/JUnit-coverage
/Checkstyle.html
/Checkstyle.xml
/Checkstyle.Test.html
/Checkstyle.Test.xml
/FindBugs.html
/FindBugs.xml
/FindBugs.diff.html
/FindBugs.diff.xml

.idea/workspace.xml
.idea/uiDesigner.xml
