
# /
/bin
/.apt-generated/
/build.properties
/ivy-*.xml
/common-*.jar
/TEST-*.txt
/junit
/JUnit.html
/JUnit-coverage
/Checkstyle.html
/Checkstyle.xml
/Checkstyle.Test.html
/Checkstyle.Test.xml
/SpotBugs.html
/SpotBugs.xml
/SpotBugs.diff.html
/SpotBugs.diff.xml
/Javadoc
/gh-pages
/.factorypath
/repository

# /.idea/
/.idea/workspace.xml
/.idea/uiDesigner.xml

# /lib/
/lib/java
/lib/java-contrib

