
# /
/bin
/.apt-generated/
/ivy-*.xml
/common-*.jar
/TEST-*.txt
/junit
/JUnit.html
/JUnit-coverage
/Checkstyle.html
/Checkstyle.xml
/Checkstyle.Test.html
/Checkstyle.Test.xml
/FindBugs.html
/FindBugs.xml
/FindBugs.diff.html
/FindBugs.diff.xml
/Javadoc
/.factorypath

# /.idea/
/.idea/workspace.xml
/.idea/uiDesigner.xml

# /lib/
/lib/java
/lib/java-contrib

